@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 278 67% 95%;
    --foreground: 283 20% 20%;
    --card: 278 60% 98%;
    --card-foreground: 283 20% 20%;
    --popover: 278 60% 98%;
    --popover-foreground: 283 20% 20%;
    --primary: 283 34% 54%;
    --primary-foreground: 283 34% 98%;
    --secondary: 280 40% 90%;
    --secondary-foreground: 283 20% 20%;
    --muted: 280 40% 90%;
    --muted-foreground: 283 20% 40%;
    --accent: 182 100% 74%;
    --accent-foreground: 182 30% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 20% 85%;
    --input: 283 20% 88%;
    --ring: 283 34% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 283 10% 10%;
    --foreground: 278 67% 95%;
    --card: 283 10% 15%;
    --card-foreground: 278 67% 95%;
    --popover: 283 10% 15%;
    --popover-foreground: 278 67% 95%;
    --primary: 283 34% 60%;
    --primary-foreground: 283 34% 98%;
    --secondary: 283 10% 25%;
    --secondary-foreground: 278 67% 95%;
    --muted: 283 10% 25%;
    --muted-foreground: 278 67% 70%;
    --accent: 182 100% 74%;
    --accent-foreground: 182 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 10% 25%;
    --input: 283 10% 25%;
    --ring: 283 34% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
